.tabels-containe {
  position: relative;

  color: white;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
}
.parent {
  background-image: url("../imges/ttt.png") !important;
  background-size: cover;
}
.cardt {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 240px;
  font-size: 14px;
  background-color: #ffffff70;
  margin-top: 120px;
  margin-bottom: 120px;
}
.tabletitle {
  text-align: center;
  margin-top: 40px;
  color: black;
  position: absolute;
  top: 0;
  right: 50px;
  left: 50px;
  z-index: 1;
  font-weight: bolder;
}

.cardt-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.cardt-text {
  font-size: 1em;
  margin-bottom: 20px;
}

.book-now-btn {
  background-color: #a35511;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.book-now-btn:hover {
  background-color: transparent !important;
  border: 1px solid #212129 !important;
  color: black;
}
.imgtable {
  border-radius: 10px;
  width: 100px !important;
  height: 100px !important;
}
@media (max-width: 940px) {
  .cardt {
    width: 200px;
  }
}
@media (max-width: 485px) {
  .cardt {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .tabels-container {
    flex-direction: column;
  }

  .left-part,
  .right-part {
    margin: 0;
    width: 100%;
  }

  .cardt {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .cardt-title {
    font-size: 1.2em;
  }

  .cardt-text {
    font-size: 0.9em;
  }

  .book-now-btn {
    padding: 8px 16px;
  }

  .cardt {
    width: 100px;
  }
}
.tableimg {
  width: 100%;
  height: 500px;
  opacity: 0.7;
  object-fit: cover;
}
.left-part {
  display: flex;
  align-content: space-around;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 150px;
}

@media screen and (max-width: 600px) {
  .cardt {
    margin: 10px auto 30px auto !important;
    width: 300px !important;
    height: 150px !important;
    padding: 2px 0 2px 0;
  }
  .cardt-title {
    margin-top: 20px !important;
  }
  .containe {
    /* margin-top: 50px; */
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
  }
}

/* CSS for iPad in portrait orientation */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles go here */
}

/* CSS for iPad in landscape orientation */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles go here */
}
